[Unit]
Description=Convert video from RTSP input to HLS
After=network.target

[Service]
User=hmuser
ExecStartPre=/usr/bin/mkdir -p /path/camera-identity/video
ExecStartPre=/usr/bin/chmod go-rwx /path/camera-identity
ExecStart=/usr/bin/ffmpeg -i rtsp://ip:port -fflags flush_packets -max_delay 1 -an -flags -global_header -hls_time 4 -hls_list_size 3 -hls_wrap 3 -vcodec copy -y /path/camera-identity/video/video.m3u8
ExecStopPost=/usr/bin/rm -rf /path/camera-identity/video
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target

