{% extends "base.html" %}

{% block dropdown %}
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cameras</a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    {% for camera in cameras %}
    <li><a class="dropdown-item" href="/camera/{{camera[0]}}">{{camera[0]}}</a></li>
    {% end %}
</ul>
</li>
{% end %}

{% block body %}
<div class="row row-cols-1 row-cols-md-2 g-4">
{% for camera in cameras %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><a href="/camera/{{camera[0]}}">{{camera[0]}}</a></h5>
                <p class="card-text">
                    <ul class="list-unstyled">
                        <li>Stream: {{camera[2]}}</li>
                        <li>Motion detection: {{camera[3]}}</li>
                        <li>Night mode: {{camera[4]}}</li>
                    </ul>
                </p>
            </div>
            <video class="video" id="/video/{{camera[0]}}/{{camera[1]}}" controls loop style="width: 100%;"></video>
        </div>
    </div>
{% end %}
</div>

<script>
playAllVideos();
</script>
{% end %}
