<!DOCTYPE HTML>
<html>
<head>
    <title>HomeManager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ static_url('bootstrap.min.css') }}" crossorigin="anonymous">
    <style>
    body {
        padding-top: 5rem;
    }
    .core-template {
        padding: 3rem 1.5rem;
        text-align: center;
    }
    </style>
    <script src="{{ static_url('bootstrap.bundle.min.js') }}"></script>
    <script src="{{ static_url('hls.min.js') }}"></script>
    <script src="{{ static_url('main.js') }}"></script>

    {% block head %} {% end %}
</head>

<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">HomeManager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                {% block dropdown %} {% end %}
            </ul>
             <ul class="nav navbar-nav">
                 <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<main role="main" class="container">
    <div class="core-template">
    {% block body %} {% end %}
    </div>
</main>

{% block footer %} {% end %}
</body>
</html>
