{% extends "base.html" %}

{% block dropdown %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Video sources</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
    {% for camera in cameras %}
        <a class="dropdown-item" href="/camera/{{camera[0]}}">{{camera[0]}}</a>
    {% end %}
    </div>
  </li>
{% end %}

{% block body %}
<div>
    <h2>{{cameras[idx][0]}}</h2>
    <video class="video" id="/video/{{cameras[idx][0]}}/{{cameras[idx][1]}}" controls loop style="width: 720px;"></video>
</div>

<script>
var videoId = getVideoId();
playVideo(videoId);
</script>

{% end %}
