{% extends "base.html" %}

{% block dropdown %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cameras</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
    {% for camera in cameras %}
        <a class="dropdown-item" href="/camera/{{camera[0]}}">{{camera[0]}}</a>
    {% end %}
    </div>
  </li>
{% end %}

{% block body %}

{% for camera in cameras %}
<div>
    <a href="/camera/{{camera[0]}}">{{camera[0]}}</a> - {{camera[0]}}
    <br />
    <video class="video" id="/video/{{camera[0]}}/{{camera[1]}}" controls loop style="width: 480px;"></video>
</div>
{% end %}

<script>
playAllVideos();
</script>

{% end %}
