{% extends "base.html" %}

{% block dropdown %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Video sources</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
    {% for source in sources %}
        <a class="dropdown-item" href="/source/{{source[0]}}">{{source[1]}}</a>
    {% end %}
    </div>
  </li>
{% end %}

{% block body %}

{% for source in sources %}
<div>
    <a href="/source/{{source[0]}}">{{source[1]}}</a> - {{source[2]}}
    <br />
    <video class="video" id="video{{source[0]}}" controls loop style="width: 480px;"></video>
</div>
{% end %}

<script>
playAllVideos();
</script>

{% end %}

